@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Курсы валют</h2>
@if(Model.date != "" && Model.currency != "")
{
    <table class="table">
    <thead>
        <tr>
            <th>Валюта</th>
            <th>Значение</th>
            <th>Источник</th>
        </tr>
    </thead>
    <tbody>
    @if (Model.rates.Count != 0)
    {
        @foreach(var item in Model.rates)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Code)</td>
                <td>@Html.DisplayFor(modelItem => item.Value)</td>
                <td>@Html.DisplayFor(modelItem => item.ServiceUrl)</td>
            </tr>
        }
        
    }
    else
    {
        <tr><td colspan="3">Данных не найдено</td></tr>
    }
    
    </tbody>
    </table>
}
<form method="get" asp-page="./Index" class="form">
    <div class="form-group">
        <div class="input-group date">
            <input type="text" class="form-control datepicker" id="date" name="date" autocomplete="off">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
        <select class="form-control" id="currency" name="currency">
            @foreach (var currency in Model.currencies)
            {
                <option value="@currency">@currency</option>
            }
        </select>
        <br />
        <button type="submit" class="btn btn-primary">Поиск курса</button>
    </div>
</form>
