@page
@model CurrencyRate.Pages.Currencies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Currency[0].Code)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Currency) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CurrencyId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CurrencyId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CurrencyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
