@page
@model CurrencyRate.Pages.Rates.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rate</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate.ServiceId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rate.ServiceId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rate.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rate.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rate.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rate.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Rate.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
